build/

*~
*.swp
*.swo
CMakeCache.txt
cmake_install.cmake
test/cmake_install.cmake
test/core/cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
test/CTestTestfile.cmake
test/core/CTestTestfile.cmake
Makefile
test/Makefile
test/core/Makefile
test/bug/Makefile
gli/Makefile
gliConfig.cmake
gliTargets.cmake
gliVersion.cmake
CMakeFiles/
gli/CMakeFiles/
gli/gli_dummy
test/bug/CMakeFiles/
test/bug/test-bug
test/core/CMakeFiles/
test/core/test-core_sample
test/core/test-core_convert
test/core/test-texture_lod_sampler2d_array
test/core/test-texture_lod_sampler_cube
test/core/test-texture_lod_sampler2d
test/core/test-texture_lod_sampler_cube_array
test/core/test-texture_lod_sampler3d
test/core/test-texture_lod_sampler1d_array
test/core/test-texture_lod_sampler1d
test/core/test-core_sampler_texel
test/core/test-core_texture
test/core/test-generate_mipmaps_sampler2d_array
test/core/test-generate_mipmaps_sampler2d
test/core/test-generate_mipmaps_sampler_cube
test/core/test-generate_mipmaps_sampler3d
test/core/test-generate_mipmaps_sampler1d_array
test/core/test-generate_mipmaps_sampler1d
test/core/test-generate_mipmaps_sampler_cube_array
test/core/test-core_sampler_clear
test/core/test-core_filter_2d
test/core/test-core_filter_3d
test/core/test-core_sampler_wrap
test/core/test-core_filter_1d
test/core/test-convert_sampler2d_array
test/core/test-convert_sampler1d
test/core/test-convert_sampler1d_array
test/core/test-convert_sampler_cube_array
test/core/test-convert_sampler2d
test/core/test-convert_sampler3d
test/core/test-convert_sampler_cube
test/core/test-core_texture_cube_array
test/core/test-core_texture_2d_array
test/core/test-core_texture_2d
test/core/test-core_texture_cube
test/core/test-core_texture_3d
test/core/test-core_texture_1d_array
test/core/test-core_texture_1d
test/core/test-core_clear
test/core/test-core_fetch
test/core/test-core_comparison
test/core/test-core_load
test/core/test-test_view
test/core/test-core_save
test/core/test-test_duplicate
test/core/test-core_convert_access
test/core/test-core_load_dds
test/core/test-core_load_gen_1d
test/core/test-core_load_gen_1d_array
test/core/test-core_load_gen_rect
test/core/test-core_load_gen_3d
test/core/test-core_load_gen_2d_array
test/core/test-core_load_gen_cube_array
test/core/test-core_load_gen_2d
test/core/test-core_load_gen_cube
test/core/test-core_load_ktx
test/core/test-test_copy
test/core/test-transform
test/core/test-core_flip
test/core/test-reduce
test/core/test-test_make_texture
test/core/test-core_swizzle
test/core/test-test_copy_sub
test/core/test-core
test/core/test-gl
test/core/test-test_size
test/core/test-core_addressing
test/core/test-core_image
test/core/test-core_storage
test/core/test-core_format
test/core/test2d.dds
test/core/test2d.kmg
test/core/test2d.ktx
test/core/test2d_array.dds
test/core/test2d_array.kmg
test/core/test2d_array.ktx
test/core/test3d.dds
test/core/test3d.kmg
test/core/test3d.ktx
